<h1>Admin</h1>

<h1>Cadastrar</h1>
<%= button_to "Categorias", new_categoriaproduto_path, method: 'get'%>

<%= button_to "SubCategorias", new_subcategoriaproduto_path, method: 'get'%>

<%= button_to "Produto", new_produto_path, method: 'get'%>

<%= button_to "Cadastrar protuto", new_estoque_path, method: 'get'%>